/* src/styles/Navbar.css */
.navbar {
  padding: 20px 0;
  width: 100%;
  background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
  display: grid;
  top: 0;
  left: 0; /* Asegura que se alinee bien */
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo a {
  color: #dfdfdf; /* Color claro para el logo */
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

/* Enlaces */
.navbar-links a {
  color: #dfdfdf; /* Color claro para los enlaces */
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.4s ease, transform 0.4s ease;
}

.navbar-links a:hover {
  color: #3498db; /* Color de acento al pasar el cursor */
  transform: scale(1.09); /* Efecto de crecimiento al pasar el cursor */
}

/* Estilos del botón hamburguesa */
.navbar-hamburger {
  display: none; /* Inicialmente oculto */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.navbar-hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: #dfdfdf;
  border-radius: 5px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Ocultamos el menú por defecto en pantallas pequeñas */
    flex-direction: column;
    width: 100%;
    gap: 10px;
    background-color: #31494e;
    position: absolute;
    top: 60px; /* Ajustamos según la altura de la barra de navegación */
    left: 0;
    padding: 20px;
  }

  .navbar-links.open {
    display: flex; /* Mostramos el menú cuando está abierto */
  }

  .navbar-hamburger {
    display: flex; /* Mostramos el botón hamburguesa en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .navbar-logo a{
    font-size: 16px;
  } 
}