*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects {
  background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 67%);
    padding: 3rem;
    margin: 0 auto;
  }

  .projects-intro {
    margin-bottom: 2rem;
    text-align: center;
   
  }
  
  .projects-intro h1 {
    font-size: 35px;
    margin-bottom: 1rem;
    color: rgb(233, 238, 248);
  }
  
  .projects-intro p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: rgb(226, 233, 245);
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2d3748;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .project {
    border: 2px solid #93a4b9;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: rgb(195, 213, 247);
    margin-bottom: 1rem;
  }
  
  .project p {
    font-size: 1.125rem;
    color: rgb(226, 233, 245);
    margin-bottom: 1rem;
  }
  
  .project a {
    font-size: 1.125rem;
    color: #188efc;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .project a:hover {
    color: #2b6cb0;
  }
  
  @media (max-width: 480px){
    .projects{
      padding: 15px;
    }

    .projects-intro h1{
      font-size: 22px;
      
    }

    .projects-intro p{
      font-size: 13px;
    }

    .project{
      padding: 12px;
    }

    .project h3{
      font-size: 16px;
    }

    .project p{
      font-size: 14px;
    }

    .project a{
      font-size: 14px;
    }
  }