* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Esto hace que la parte principal ocupe todo el espacio disponible */
}

.technologies {
  background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
  padding: 50px;
  text-align: center;
  flex: 1; /* Esto hace que la sección de tecnologías ocupe el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra el contenido verticalmente */
}

.technologies h2 {
  font-size: 2.5rem;
  color: rgb(233, 238, 248);
  margin-bottom: 10px;
  font-weight: bold;
}

.technologies p {
  font-size: 1.2rem;
  color: rgb(226, 233, 245);
  margin-bottom: 30px;
  text-align: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(170, 188, 211);
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(134, 143, 160);
  padding: 20px 25px;
  text-align: center;
  width: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}



.name {
  font-size: 1.2rem;
  color: rgb(233, 238, 248);
  font-weight: 600;
}

@media (max-width: 768px) {
  .tech-list {
    gap: 15px;
  }

  .tech-item {
    display: flex;
    flex-direction: column;
    width: 120px;
  }

  .name{
    font-size: 14px
  }
}
